.hamburger-icon{
  display: none;
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  background-color: #0D4C9E;
  box-shadow: 0px 8px 6px 0px #316DBC;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.form-container{
  display: flex;
  width: 40%;
  justify-content: flex-end;
  height: 38px;
}

.login-form-row{
  width: 75%;
}

.btn-link{
  width: fit-content;
  margin-left: 2%;
}

.login-reg-btn{
  width: 100%;
  border-radius: 8px;
}

@media screen and (max-width: 1200px) and (min-width: 300px) {
  /* .hamburger-icon{
    display: block;
  } */

  .navbar-container{
    padding: 5px !important;
  }

  .header-title{
    font-size: 15px !important;
  }

  .login-reg-btn{
    font-size: 12px;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .header-buttons{
    width: auto !important;
  }

  .responsive-navbrand{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-container{
    display: none;
  }

  .responsive-form-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 5%;
    justify-content: flex-end;
    height: fit-content;
  }

  .responsive-navbar-container{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .responsive-login-form-row{
    width: 100%;
  }

  .responsive-btn-link{
    margin-left: 0;
    width: 100%;
  }
}