.navbar-container{
  display: flex;
  justify-content: space-between;
  background-color: #5A81B5;
}

.form-container{
  display: flex;
  width: 40%;
  justify-content: flex-end;
  height: 38px;
}

.login-form-row{
  width: 75%;
}

.btn-link{
  width: fit-content;
  margin-left: 2%;
}

.login-btn{
  width: 100%;
}