/* Add a black background color to the top navigation */

/* body{
    width: 100vw;
    height: 100vh;
} */

.topnav {
    /* position: fixed; */
    background-color:#5A81B5;
    overflow: hidden;
    width: 100%;
    /* height: 40px; */
    margin-top: 0px;
    z-index: 999;
  }
  


/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(231, 85, 85)
}

.topnav form {
float: right;
margin-right: 20px;
/* height: 40px; */
  }


input[type="text"]{ 
  line-height: 28px;
}

input[type="password"]{ 
  line-height: 28px;
}

button[type=submit] {
  /* padding:5px 15px;  */
  background-color: #C12222;
  /* padding: 12px 24px; */
  border: none;
  cursor: pointer;
  height: 40px;
  width: 100px;
  color: white !important;
  font-family: 'Myriad Pro Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=submit]:hover {
  background-color: rgb(231, 85, 85)
}


input[value=Email] {
  color: grey;
}



/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.mainBody {
  margin-top:50px;
}

.content-background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  height: 85%;
  left: 3%;
  background-image: url('imgs/bgcolor.svg');
}

.content-container{
  width: 80%; 
  height: 100%; 
  display: flex; 
  padding: 5%;
  padding-left: 9%;
  justify-content: center; 
  flex-direction: column;
}

.bgcolor{
  position: absolute;
  left: 30px;
}

.bgImage {
  opacity: 1;
  right: -15%;
  position: absolute;
  height: 92%;
  width: 32%;
}

.bigLogo {
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: -1;

}

.h1text {
  color: #073068;
  font-family: 'Myriad Pro Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 4.5em;
  font-weight: bold;
  height: fit-content;
  line-height: 70px;
}


.flag {
  height: 25%;
}

.tagline {
  color: #073068;
  font-family: 'Myriad Pro Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 2%;
  font-size: 18px;
  margin-top: 2%;
  width: 27%;
}

.joinNow {
  text-align: center;
  background-color: #C12222;
  width: 19%;
  height: 9%;
  font-size: 14px;
  margin-top: 5%;
  color: white;
}

.joinNow a{
  color: white;
  font-size: 1.1em;
  text-decoration: none;
  font-family: 'Myriad Pro Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.joinNow:hover {
  background-color: rgb(231, 85, 85);
}

.footer {
  width: fit-content;
  color: #073068;
  margin-top: 0.6%;
}



.footer li {
  list-style: none;
  display: inline;
  padding: 30px;
  font-family: 'Myriad Pro Regular', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .7em;
}

.footer a {
  text-decoration: none;

  
}
.footer a:hover {
  background-color:#A9C5EB54;
  padding: 10px;
  font-weight: bold;
}