.landing-page-body{
  background-image: url('../../assets/images/bgcolor.png');
  background-repeat: no-repeat;
  height: 80vh;
  width: 80%;
  margin-left: 3%;
  display: flex; 
  justify-content: space-between;
}

.rec.rec-dot_active{
  background-color: rgba(13, 76, 158, .8) !important;
  box-shadow: 0 0 1px 3px rgba(13, 76, 158, 1) !important;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  background-color: rgba(13, 76, 158, 1) !important;
}

.contact-us-textfield label{
  font-size: 0.875rem;
  color: rgba(13, 76, 158, 1);
}

.MuiInput-underline:before{
  border-color: rgba(13, 76, 158, 1) !important;
}

.landing-page-container{
  width: 70%; 
  height: 85%;
  padding: 5%; 
  padding-left: 8%; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
}

.landing-page-main-caption{
  font-size: 5.5em;
  font-weight: 700;
  line-height: 75px;
  color: #073068;
}

.nation-flag{
  height: 55px;
  margin-top: -2%;
}

.landing-page-subtext{
  font-size: 18px; 
  font-weight: 500; 
  color: #073068;
  padding-left: 2%;
  margin-top: 5%;
}

.join-now-btn{
  width: fit-content; 
  margin-top: 3%;
  padding-left: 30px;
  padding-right: 30px;
}

.landing-page-secondary-bg-image{
  background-image: url('../../assets/images/bgImage.png');
  background-repeat: no-repeat;
  height: 70vh;
  width: 27%;
  margin-top: 2%;
  position: absolute;
  right: 4%;
}

.landing-page-footer{
  color: #073068; 
  width: 40%; 
  display: flex;
  justify-content: space-between;
  margin-top: 2%; 
  margin-left: 3%;
  font-size: 14px;
}

/* responsive css */
@media screen and (max-width: 900px) and (min-width: 601px) {
  .landing-page-body{
    width: 94%;
  }

  .landing-page-secondary-bg-image{
    display: none;
  }

  .landing-page-container{
    width: 100%;
    height: 100%;
  }

  .landing-page-footer {
    width: 70%;
  }
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  .landing-page-body{
    width: 94%;
  }

  .landing-page-secondary-bg-image{
    display: none;
  }

  .landing-page-container{
    width: 100%;
    height: 100%;
  }

  .landing-page-main-caption{
    font-size: 2.5em;
    line-height: 55px;
  }
  .nation-flag{
    height: 32px;
  }

  .landing-page-subtext{
    font-size: 16px;
  }

  .landing-page-footer {
    width: 95%;
  }

  .landing-page-footer-links{
    width: 20%;
  }

}

@media only screen and (orientation: landscape) and (min-device-width: 300px) and (max-device-width: 900px) {
  .landing-page-main-caption{
    font-size: 1.5em;
    line-height: 35px;
  }

  .nation-flag {
    height: 22px;
    margin-top: 0;
  }
  
  .landing-page-subtext{
    font-size: 12px;
    margin-top: 2%;
  }

  .join-now-btn{
    font-size: 13px;
  }
}