.rec.rec-dot_active{
  background-color: rgba(13, 76, 158, .8) !important;
  box-shadow: 0 0 1px 3px rgba(13, 76, 158, 1) !important;
}

.rec.rec-arrow:hover:enabled, .rec.rec-arrow:focus:enabled {
  background-color: rgba(13, 76, 158, 1) !important;
}

.rec .rec-carousel{
  /* margin-bottom: 3%; */
}

.what-makes-myexchange-different-row{
  display: flex;
  width: 87%;
  margin-top: 2.5%;
}

.what-makes-myexchange-different-point{
  display: flex;
  width: 50%;
}

.contact-us-textfield label{
  font-size: 0.875rem;
  color: rgba(13, 76, 158, 1);
}

.MuiInput-underline:before{
  border-color: rgba(13, 76, 158, 1) !important;
}



/* responsive css */
@media screen and (max-width: 1200px) and (min-width: 801px) {
  .section-row{
    padding: 10px !important;
  }
  .banner-text-overlay{
    margin-left: 6% !important;
    margin-top: 15% !important;
    height: 55% !important;
    width: 60% !important;
  }
  .section-img{
    height: 400px !important;
    width: 400px !important;
  }
  .resp-banner-text{
    font-size: 60px !important;
  }
  .section-pry-img{
    height: 265px !important;
    width: 395px !important;
    margin-top: 25% !important;
    margin-left: 0 !important;
  }
  .large-circle{
    height: 85% !important;
    width: 85% !important;
  }
  .small-circle{
    height: 35% !important;
    width: 35% !important;
    margin-right: 13% !important;
    bottom: 85% !important;
  }
  .what-makes-myexchange-different-row{
    width: 100%;
  }
  .responsive-section-pry-img{
    display: none;
  }
  .section-secondary-img{
    margin-top: 9% !important;
    margin-right: 0 !important;
    height: 290px !important;
    margin-left: 25% !important;
    /* display: none; */
  }
  .responsive-contact-form{
    width: 80% !important;
  }
  .adjust-content{
    justify-content: center;
  }
  .resp-how-it-works-section{
    background-color: rgba(13, 76, 158, 0.07) !important;
    background-image: none !important;
    height: auto !important;
  }
  .full-width{
    width: 100% !important;
  }
  /* .responsive-contact-us-img-section-content{
    margin-top: 15% !important;
  } */
  .responsive-footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px !important;
    /* position: relative;
    bottom: -148px; */
  }
  .link-row{
    font-size: 0.555rem !important;
    padding-bottom: 10px;
  }
  .social-icons-row{
    width: 20% !important;
    margin-top: -4% !important;
    margin-right: -20% !important;
  }
  .social-icons{
    font-size: 13px !important;
  }
  .copyright{
    font-size: 9px !important;
  }
}

@media screen and (max-width: 800px) and (min-width: 601px) {
  .section-row{
    padding: 10px !important;
  }
  .banner-text-overlay{
    margin-left: 6% !important;
    margin-top: 15% !important;
    height: 55% !important;
    width: 60% !important;
  }
  .section-img{
    height: 400px !important;
    width: 400px !important;
  }
  .resp-banner-text{
    font-size: 60px !important;
  }
  .section-pry-img{
    height: 265px !important;
    width: 300px !important;
    margin-top: 25% !important;
    margin-left: 0 !important;
  }
  .large-circle{
    height: 75% !important;
    width: 75% !important;
  }
  .small-circle{
    height: 30% !important;
    width: 30% !important;
    margin-right: 22% !important;
    bottom: 75% !important;
  }
  .what-makes-myexchange-different-row{
    width: 100%;
  }
  .responsive-section-pry-img{
    display: none;
  }
  .section-secondary-img{
    margin-top: 9% !important;
    margin-right: 0 !important;
    height: 290px !important;
    margin-left: 25% !important;
    /* display: none; */
  }
  .responsive-contact-form{
    width: 80% !important;
  }
  .adjust-content{
    justify-content: center;
  }
  .resp-how-it-works-section{
    background-color: rgba(13, 76, 158, 0.07) !important;
    background-image: none !important;
    height: auto !important;
  }
  .full-width{
    width: 100% !important;
  }
  .make-column{
    flex-direction: column;
  }
  .reverse-column-section{
    margin-top: 20% !important;
    margin-bottom: 20% !important;
    flex-direction: column-reverse;
  }
  .responsive-reverse-column-section{
    width: 90% !important;
  }
  /* .responsive-contact-us-img-section-content{
    margin-top: 15% !important;
  } */
  .responsive-footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px !important;
    position: relative;
    bottom: -82px;
  }
  .link-row{
    font-size: 0.555rem !important;
    padding-bottom: 10px;
  }
  .social-icons-row{
    width: 20% !important;
    margin-top: -4% !important;
    margin-right: -20% !important;
  }
  .social-icons{
    font-size: 13px !important;
  }
  .copyright{
    font-size: 9px !important;
  }
}

@media screen and (max-width: 600px) and (min-width: 300px) {
  /* .section-row{
    padding: 0 !important;
  } */
  .adjust-content{
    justify-content: center;
  }
  .banner-text-overlay{
    margin-left: 0 !important;
    margin-top: 50% !important;
    height: 50% !important;
    width: 85% !important;
  }
  .resp-banner-text{
    font-size: 45px !important;
  }
  .adjust-padding{
    padding: 0 !important;
  }
  .what-makes-myexchange-different-row{
    flex-direction: column;
    width: 100%;
  }
  .what-makes-myexchange-different-point{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
  }
  .section-pry-img{
    height: 190px !important;
    width: 300px !important;
    margin-top: 23% !important;
    margin-left: 7% !important;
  }
  .small-circle{
    height: 35% !important;
    width: 35% !important;
    /* margin-right: 0%; */
    bottom: 78% !important;
    right: 17% !important;
  }
  
  .large-circle{
    height: 80% !important;
    width: 80% !important;
  }
  .section-img{
    height: 285px !important;
    width: 285px !important;
  }
  .responsive-section-pry-img{
    display: none;
  }
  .section-secondary-img{
    margin-top: -20% !important;
    margin-right: 0 !important;
    height: 290px !important;
    margin-left: 25% !important;
  }
  .resp-how-it-works-content-container{
    align-items: flex-start !important;
  }
  .resp-how-it-works-section{
    background-color: rgba(13, 76, 158, 0.07) !important;
    background-image: none !important;
    height: auto !important;
  }
  .reverse-column-section{
    margin-top: 20% !important;
    margin-bottom: 20% !important;
    flex-direction: column-reverse;
  }
  .responsive-reverse-column-section{
    width: 100% !important;
  }
  .make-column{
    flex-direction: column;
  }
  .full-width{
    width: 100% !important;
  }
  .responsive-contact-us-img-section-content{
    margin-top: 25% !important;
  }
  .resp-contact-us-img-section-title{
    font-size: 2rem !important;
  }
  .responsive-contact-form{
    width: 80% !important;
  }
  .resp-mail-icon-envelope{
    width: 160px !important;
  }
  .resp-closed-envelope{
    width: 135px !important;
  }
  .responsive-footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px !important;
    position: relative;
    bottom: -148px;
  }
  .copyright{
    font-size: 7px !important;
  }
  .social-icons{
    font-size: 13px !important;
  }
  .link-row{
    font-size: 0.555rem !important;
    padding-bottom: 10px;
  }
  .social-icons-row{
    width: 14% !important;
    margin-right: 0 !important;
    margin-top: -5%;
  }
  .footer-links{
    flex-direction: column-reverse;
  }
}

/* @media only screen and (orientation: landscape) and (min-device-width: 300px) and (max-device-width: 900px) {
  
} */