.MuiOutlinedInput-input {
  padding: 13px 10px !important;
  color: white !important;
}

.MuiOutlinedInput-notchedOutline{
  border-color: white !important;
}

.MuiSelect-icon{
  color: white !important;
}

.MuiSelect-select.MuiSelect-select{
  color: white !important;
}

.MuiFormLabel-root{
  color: white !important;
}

.homepage-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1b1b2e;
  height: 100%;
}

.homepage-container{
  display:flex;
  justify-content: space-between;
  width: 100%; 
  margin-top: 5%;
}

.sidebar-container{
  height: 100vh; 
  width: 35%; 
  display: flex; 
  justify-content: center;
}

.sidebar{
  height: auto; 
  /* background-color: white;  */
  width: 17%; 
  position: fixed;
}

.sidebar-link-cell{
  height: auto;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background-color: white
}

.logout-link{
  text-align: center;
  color: red;
}

.sidebar-link-cell:hover .sidebar-link{
  background-color: #007bff;
  color: white;
}

.sidebar-link-cell.active .sidebar-link{
  background-color: #007bff;
  color: white;
}

.sidebar-link{
  height: 100%;
  width: 100%; 
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1.5rem;
  color: black;
  text-decoration: none !important;
}

.post-section{
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.new-post-btn{
  color: white;
  display: flex;
  width: fit-content;
  justify-content: flex-end;
  position: fixed;
  right: 19%;
  /* left: 0; */
  bottom: 0;
  z-index: 1000;
}

.new-post-btn-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}