.modal-dialog.modal-lg.modal-dialog-centered {
  width: 480px !important;
}

.signup-modal-header{
  padding: 1rem 2rem;
  justify-content: center;
}

.signup-modal-body{
  padding: 2rem;
}

.signup-modal-form-row{
  margin-bottom: 3%;
}

.signup-btn{
  width: 100%;
  cursor: pointer;
}

.signup-with-text{
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.signup-options-container{
  display: flex;
  justify-content: center;
}

.signup-options{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 3%; 
}

/* .signup-icons{
  background-image: url('../../assets/icons/facebook-icon.svg');
  width: 50px;
  height: 50px;
  background-size: cover;
} */